@import "../../../../constants/constants.scss";

.regularBtn {
  width: 6rem;
  padding: 0.75rem 1rem;
}

.primaryBtn {
  color: $gray4;
  border: 1px solid $gray1;
  background: none;
}
.largeBtn {
  all: unset; // stubbed for passing test
}
.secondaryBtn {
  all: unset; // stubbed for passing test
}

.btn {
  border-radius: $borderRadius;
  &:hover {
    cursor: pointer;
    border: 1px solid $gray2;
  }
  &:focus,
  &:active {
    outline: none;
  }
}
