.inputLabel {
  color: #6e6c6c;
  font-size: 0.8rem;
  padding: 0 0 0.5rem 0.25rem;
}

.checkboxLabel {
  color: #6e6c6c;
  font-size: 0.6rem;
  padding-left: 0.25rem;
}

.textInput {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #eee;
}

.checkbox {
  margin: 0;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.25rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
