@import "../../../../constants/constants.scss";

%label {
  color: $gray3;
  font-size: 0.8rem;
}

.inputLabel {
  @extend %label;
  padding-bottom: 0.5rem;
}

.checkboxLabel {
  @extend %label;
  padding-left: 0.25rem;
}

.textInput {
  width: 100%;
  padding: 0.5rem;
  border-radius: $borderRadius;
  border: 1px solid $gray1;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.25rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
