@import "../../../../constants/constants.scss";

%flexSpacedCol {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formWrapper {
  @extend %flexSpacedCol;
  height: 400px;
  width: 400px;
  padding: 2rem;
  box-shadow: 0 0 0.1rem 0.05rem $gray1;
}

.form {
  @extend %flexSpacedCol;
  height: 50%;
}

.formTitle {
  padding-top: 1rem;
  font-weight: 600;
}

.formSubtitle {
  padding-top: 0.5rem;
  color: $gray2;
}
